*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
    background-color: #0e1823;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

input,
textarea,
button {
    font: inherit;
}

button {
    cursor: pointer;
}

.is-hidden {
    transform: scale(0.3);
    position: absolute;
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.section {
    padding-top: 150px;
    padding-bottom: 150px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 auto;
    max-width: 375px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 704px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1180px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1340px;
    }
}




    
