.hero{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: linear-gradient(360deg, rgba(17, 19, 31, 0.8) 15.05%, rgba(17, 19, 31, 0.8) 75.3%, rgba(17, 19, 31, 0.8) 98.27%), url("./img/hero/mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
    .hero {
        background: linear-gradient(360deg, rgba(17, 19, 31, 0.8) 15.05%, rgba(17, 19, 31, 0.8) 75.3%, rgba(17, 19, 31, 0.8) 98.27%), url("./img/hero/tablet.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media screen and (min-width: 1280px) {
    .hero {
        background: linear-gradient(360deg, rgba(17, 19, 31, 0.8) 15.05%, rgba(17, 19, 31, 0.8) 75.3%, rgba(17, 19, 31, 0.8) 98.27%), url("./img/hero/desktop.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media screen and (min-width: 1440px) {
    .hero {
        background: linear-gradient(360deg, rgba(17, 19, 31, 0.8) 15.05%, rgba(17, 19, 31, 0.8) 75.3%, rgba(17, 19, 31, 0.8) 98.27%), url("../img/hero/1440.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
}
.hero_container{
    padding: 260px 20px 243px;
} 
@media screen and (min-width: 768px) {
    .hero_container {
        padding: 280px 32px 215;
    }
}

@media screen and (min-width: 1280px) {
    .hero_container {
        padding: 235px 90px 180px;
    }
}
.hero_title{
    font-weight: 500;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
    .hero_title {
        font-size: 70px;
    }
}

@media screen and (min-width: 1280px) {
    .hero_title {
        font-size: 80px;
    }
}

.hero_text{
    font-weight: 300;
    font-size: 12px;
    line-height: 1.17;
    text-align: center;
    color: rgba(251, 251, 251, 0.7); 
    margin-bottom: 38px;
}
@media screen and (min-width: 768px) {
    .hero_text {
        font-size: 16px;
        line-height: 1.4;
        margin: 0 auto;
        margin-bottom: 48px;
        max-width: 597px;
    }
}

.hero_btn{
    /* text-align: center; */
    display: block;
    margin: 0 auto;
    border-radius: 15px;
    border: none;
    padding: 14px 32px;
    min-width: 141px;
    background-color: #1b414b;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
    .hero_btn {
        min-width: 179px;
        padding: 16px 40px;
    }
}
.hero_link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
    .hero_link {
        font-size: 18px;
        line-height: 1.1;
    }
}
.hero_btn:hover,
.hero_btn:focus{
    background-color: #fbfbfb;
}
.hero_btn:hover .hero_link,
.hero_btn:focus .hero_link{
    color: #1b414b;
}
