#reviews {
  margin-bottom: 80px;
}
@media (min-width: 768px) {
  .reviews {
    margin-bottom: 150px;
  }
}



/*----------------------------------------------------------------*/
.reviews-tittle{
  max-width:335px;
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

@media (min-width:768px) {
  .reviews-tittle {
    max-width: 704px;
    font-size: 48px;
  }
}

@media (min-width:1280px) {
  .reviews-tittle{
    max-width: 854px;

  }
}
/*----------------------------------------------------------------*/
.reviews-text{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  max-width: 335px;
  opacity: 0.4;
}

@media (min-width:768px) {
  .reviews-text {

    font-weight: 400;
    font-size: 14px;
    line-height: 129%;



    margin-bottom: 75px;
    max-width: 571px;
  }

}


/*----------------------------------------------------------------*/

.reviews-list{
  display: flex;
  gap: 32px;
  justify-content: center;
}
@media (min-width: 768px){
  .reviews-list{
    display: flex;
  }
}

/*----------------------------------------------------------------*/

.reviews-item{
  width: 335px;
  text-align: center;
  border-radius: 24px;
  background-color: #fbfbfb;
  padding: 32px 8px;
  display: none;
}
@media (max-width: 767px) {
  .reviews-item:nth-child(1) {
    display: block;
  }
}
/* Для планшетов (768px - 1279px) — показываем 2 элемента */
@media (min-width: 768px) {
  .reviews-item:nth-child(-n+2) {
    display: block;
    padding: 32px 8px;
    width: 336px;
    height: 282px;

  }
}
@media (min-width: 1280px) {
  .reviews-item:nth-child(-n+3) {
    display: block;
    padding: 32px 28px;
    width: 376px;
    height: 282px;
  }
}
@media (min-width: 1440px) {
  .reviews-item:nth-child(-n+3) {
    display: block;
    padding: 32px 26px;
    width: 396px;
    height: 282px;
  }
}

/*----------------------------------------------------------------*/

/*----------------------------------------------------------------*/

.reviews-img{
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin: 0 auto;
}

/*----------------------------------------------------------------*/

.reviews-cart-tittle{
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #040306;
  margin-top: 24px;
  margin-bottom:8px;
}

/*----------------------------------------------------------------*/


  .reviews-cart-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(4, 3, 6, 0.4);


  }

