<footer class="footer">
    <div class="footer__wrapper">
        <div class="footer__top">
            <a href="index.html" class="footer__logo">yachtjet</a>
            <nav class="footer__nav">
                <a href="#about" class="footer__nav-link">About</a>
                <a href="#yachts" class="footer__nav-link">Yachts</a>
                <a href="#reviews" class="footer__nav-link">Reviews</a>
            </nav>
            <ul class="footer__social-list">
                <li class="footer__social-item">
                    <a href="https://www.instagram.com/goitclub/" class="footer__social-item-link" target="_blank">
                        <svg class="footer__social-icon" height="24" width="24" aria-label="Instagram">
                            <use href="./img/general/icons.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer__social-item">
                    <a href="https://www.youtube.com/c/GoIT" class="footer__social-item-link" target="_blank">
                        <svg class="footer__social-icon" height="24" width="24" aria-label="YouTube">
                            <use href="./img/general/icons.svg#icon-youtube"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer__social-item">
                    <a href="https://www.facebook.com/goITclub/" class="footer__social-item-link" target="_blank">
                        <svg class="footer__social-icon" height="24" width="24" aria-label="Facebook">
                            <use href="./img/general/icons.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer__middle">
            <p class="footer__middle-slogan">No matter which yacht you choose,
                our experienced crew will ensure that your
                journey is smooth and enjoyable.
            </p>
        </div>
        <div class="footer__bottom">
            <p class="footer__bottom-text">2024. Yacht Adventures</p>
            <a href="https://policies.google.com/" target="_blank" class="footer__bottom-link">Privacy Police</a>
        </div>
    </div>
</footer>