<header class="page-header">
    <div class="container header-container">
        <nav class="header-nav">
            <a class="logo-header" href="index.html">yachjet</a>
            <ul class="nav-list">
                <li class="header-li"><a class="header-link" href="#about">ABOUT</a></li>
                <li class="header-li"><a class="header-link" href="#yachts">YACHTS</a></li>
                <li class="header-li"><a class="header-link" href="#reviews">REVIEWS</a></li>
            </ul>
        </nav>
        <button class="menu-btn js-open-menu" type="button" aria-label="Open menu button" aria-expanded="false">
            <svg class="menu-icon" width="28" height="28">
                <use href="./img/general/icons.svg#icon-menu"></use>
            </svg>
        </button>
        <ul class="header-social-list">
            <li>
                <a href="https://www.instagram.com/goitclub/" target="_blank">
                    <svg class="socials-icon" width="24" height="24">
                        <use href="./img/general/icons.svg#icon-instagram" ></use>
                    </svg>
                </a>
            </li>

            <li>
                <a href="https://www.youtube.com/c/GoIT" target="_blank">
                    <svg class="socials-icon" width="24" height="24">
                        <use href="./img/general/icons.svg#icon-youtube"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/goITclub/" target="_blank">
                    <svg class="socials-icon" width="24" height="24">
                        <use href="./img/general/icons.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>

    <!-- Mobile Menu -->

    <div class="mobile-menu js-menu-container">
        <div class="container menu-container">
            <div class="container header-container">
                <nav class="header-nav">
                    <a class="logo-header" href="index.html">yachjet</a>
                </nav>
                <button class="mobile-menu-close js-close-menu"><svg width="28" height="28" class="close-btn-icon">
                        <use href="./img/general/icons.svg#icon-close"></use>
                    </svg></button>
            </div>
            <div class="menu-links">
                <nav class="mobile-menu-nav">
                    <ul class="mobile-list-menu">
                        <li class="header-li"><a class="header-link" href="#about">ABOUT</a></li>
                        <li class="header-li"><a class="header-link" href="#yachts">YACHTS</a></li>
                        <li class="header-li"><a class="header-link" href="#reviews">REVIEWS</a></li>
                    </ul>
                </nav>
                <ul class="menu-social">
                    <li>
                        <a href="https://www.instagram.com/goitclub/" target="_blank">
                            <svg class="menu-socials-icon" width="24" height="24">
                                <use href="./img/general/icons.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/c/GoIT" target="_blank">
                            <svg class="menu-socials-icon" width="24" height="24">
                                <use href="./img/general/icons.svg#icon-youtube"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/goITclub/" target="_blank">
                            <svg class="menu-socials-icon" width="24" height="24">
                                <use href="./img/general/icons.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

</header>