<section class="our-yachts section" id="yachts">
  <div class="container">
    <h2 class="section-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="yachts-list">
      <li class="yacht-card">
        <div class="img-wraper">
          <img
            width="360px"
            height="268px"
            scrset="./img/our-yachts/arrow.jpg 1x, ./img/our-yachts/arrow@2x.jpg 2x"
            src="./img/our-yachts/arrow.jpg"
            alt="Arrow"
          />
        </div>
        <div class="card-content">
          <div class="card-title">
            <h3 class="yacht-name">Arrow</h3>
            <p class="yacht-class">Luxury yachts</p>
          </div>
          <div class="yacht-stats">
            <ul>
              <li>Length</li>
              <li>Builder</li>
              <li>Built</li>
              <li>Guests</li>
              <li>Price</li>
            </ul>
            <ul>
              <li>48m(155ft)</li>
              <li>Admiral</li>
              <li>2021</li>
              <li>11 in 5 cabins</li>
              <li>€33,500,000</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="yacht-card">
        <div class="img-wraper">
          <img
            width="360px"
            height="268px"
            scrset="./img/our-yachts/benetti.jpg 1x, ./img/our-yachts/benetti@2x.jpg 2x"
            src="./img/our-yachts/benetti.jpg"
            alt="Benetti Oasis"
          />
        </div>
        <div class="card-content">
          <div class="card-title">
            <h3 class="yacht-name">Benetti Oasis 40M</h3>
            <p class="yacht-class">Luxury yachts</p>
          </div>
          <div class="yacht-stats">
            <ul>
              <li>Length</li>
              <li>Builder</li>
              <li>Built</li>
              <li>Guests</li>
              <li>Price</li>
            </ul>
            <ul>
              <li>41m (133ft)</li>
              <li>Benetti</li>
              <li>2025</li>
              <li>10 in 5 cabins</li>
              <li>€23,210,000</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="yacht-card">
        <div class="img-wraper">
          <img
            width="360px"
            height="268px"
            scrset="./img/our-yachts/belle.jpg 1x, ./img/our-yachts/belle@2x.jpg 2x"
            src="./img/our-yachts/belle.jpg"
            alt="Belle Anna"
          />
        </div>
        <div class="card-content">
          <div class="card-title">
            <h3 class="yacht-name">Belle Anna</h3>
            <p class="yacht-class">Luxury yachts</p>
          </div>
          <div class="yacht-stats">
            <ul>
              <li>Length</li>
              <li>Builder</li>
              <li>Built</li>
              <li>Guests</li>
              <li>Price</li>
            </ul>
            <ul>
              <li>50m(155ft)</li>
              <li>ISA</li>
              <li>2012</li>
              <li>12 in 6 cabins</li>
              <li>€21,000,000</li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
    <a href="" class="yacht-rent-btn"> Yacht rental</a>
  </div>
</section>
