<section class="our-yachts section" id="yachts">
  <div class="container">
    <h2 class="section-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="yachts-list">
      <li class="yacht-card">
        <div class="img-wraper">
          <img
            width="360"
            height="268"
            srcset="
              ./img/our-yachts/arrow.jpg    1x,
              ./img/our-yachts/arrow@2x.jpg 2x
            "
            src="./img/our-yachts/arrow.jpg"
            loading="lazy"
            alt="Arrow"
          />
        </div>
        <div class="card-content">
          <div class="card-title">
            <h3 class="yacht-name">Arrow</h3>
            <p class="yacht-class">Luxury yachts</p>
          </div>
          <ul class="yacht-stats">
            <li>
              <span>Length</span>
              <span>Builder</span>
              <span>Built</span>
              <span>Guests</span>
              <span>Price</span>
            </li>
            <li>
              <span>48m(155ft)</span>
              <span>Admiral</span>
              <span>2021</span>
              <span>11 in 5 cabins</span>
              <span>€33,500,000</span>
            </li>
          </ul>
        </div>
      </li>
      <li class="yacht-card">
        <div class="img-wraper">
          <img
            width="360"
            height="268"
            srcset="
              ./img/our-yachts/benetti.jpg    1x,
              ./img/our-yachts/benetti@2x.jpg 2x
            "
            src="./img/our-yachts/benetti.jpg"
            loading="lazy"
            alt="Benetti Oasis"
          />
        </div>
        <div class="card-content">
          <div class="card-title">
            <h3 class="yacht-name">Benetti Oasis 40M</h3>
            <p class="yacht-class">Luxury yachts</p>
          </div>
          <ul class="yacht-stats">
            <li>
              <span>Length</span>
              <span>Builder</span>
              <span>Built</span>
              <span>Guests</span>
              <span>Price</span>
            </li>
            <li>
              <span>41m (133ft)</span>
              <span>Benetti</span>
              <span>2025</span>
              <span>10 in 5 cabins</span>
              <span>€23,210,000</span>
            </li>
          </ul>
        </div>
      </li>
      <li class="yacht-card">
        <div class="img-wraper">
          <img
            width="360"
            height="268"
            srcset="
              ./img/our-yachts/belle.jpg    1x,
              ./img/our-yachts/belle@2x.jpg 2x
            "
            src="./img/our-yachts/belle.jpg"
            loading="lazy"
            alt="Belle Anna"
          />
        </div>
        <div class="card-content">
          <div class="card-title">
            <h3 class="yacht-name">Belle Anna</h3>
            <p class="yacht-class">Luxury yachts</p>
          </div>
          <ul class="yacht-stats">
            <li>
              <span>Length</span>
              <span>Builder</span>
              <span>Built</span>
              <span>Guests</span>
              <span>Price</span>
            </li>
            <li>
              <span>50m(155ft)</span>
              <span>ISA</span>
              <span>2012</span>
              <span>12 in 6 cabins</span>
              <span>€21,000,000</span>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <a href="#rentyacht" class="yacht-rent-btn"> Yacht rental</a>
  </div>
</section>
