<section class="section rent-yacht" id="rentyacht">
  <div class="container rent-yacht-container">
    <div class="image-form-wrapper">
      <picture>
        <source
          srcset="
            ./img/yacht-rent-img/Desktop1440-1x.jpg 1x,
            ./img/yacht-rent-img/Desktop1440-2x.jpg 2x
          "
          media="(min-width:1440px)"
        />
        <source
          srcset="
            ./img/yacht-rent-img/Desktop1280-1x.jpg 1x,
            ./img/yacht-rent-img/Desktop1280-2x.jpg 2x
          "
          media="(min-width:1280px)"
        />
        <source
          srcset="
            ./img/yacht-rent-img/Tablet-1x.jpg 1x,
            ./img/yacht-rent-img/Tablet-2x.jpg 2x
          "
          media="(min-width:768px)"
        />

        <img
          class="yacht-rent-photo"
          srcset="
            ./img/yacht-rent-img/phone-screen-1x.jpg 1x,
            ./img/yacht-rent-img/phone-screen-2x.jpg 2x
          "
          src="./img/yacht-rent-img/phone-screen-2x.jpg"
          alt="Luxury modern yacht"
          loading="lazy"
        />
      </picture>
      <div class="form-btn-container">
        <h2 class="rent-yacht-title">Rent a yacht now</h2>
        <form class="rent-form">
          <label class="rent-label" for="user-name">
            <input
              class="rent-form-field"
              name="user-name"
              type="text"
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
              placeholder="Full Name"
              id="user-name"
              minlength="2"
              required
            />
          </label>
          <label class="rent-label" for="user-email">
            <input
              class="rent-form-field"
              name="user-email"
              type="email"
              placeholder="Email"
              id="user-email"
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
              required
            />
          </label>
          <div class="tooltip-tel">
            <label class="rent-label" for="user-phone">
              <input
                class="rent-form-field"
                type="tel"
                placeholder="Phone Number"
                id="user-phone"
                name="user-phone"
                pattern="^(?:\+38)?(?:\(044\)[ .-]?[0-9]{3}[ .-]?[0-9]{2}[ .-]?[0-9]{2}|044[ .-]?[0-9]{3}[ .-]?[0-9]{2}[ .-]?[0-9]{2}|044[0-9]{7})$"
                minlength="12"
                required
              />
            </label>
            <span class="tooltip-tel-text"
              >Please use the format +381234567890</span
            >
          </div>
          <textarea
            class="rent-form-comment"
            name="user-comment"
            id="user-comment"
            placeholder="Comment"
            required
          ></textarea>
          <button class="send-form-btn" type="submit">Send</button>
        </form>
      </div>
    </div>
  </div>
</section>
